<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FruitsAssets/apple.png</key>
		<dict>
			<key>frame</key>
			<string>{{4013, 305}, {70, 82}}</string>
			<key>offset</key>
			<string>{0, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 13}, {70, 82}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>FruitsAssets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {3840, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {3840, 1280}}</string>
			<key>sourceSize</key>
			<string>{3840, 1280}</string>
		</dict>
		<key>FruitsAssets/banana.png</key>
		<dict>
			<key>frame</key>
			<string>{{4013, 377}, {80, 86}}</string>
			<key>offset</key>
			<string>{-1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 9}, {80, 86}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>FruitsAssets/barrel.png</key>
		<dict>
			<key>frame</key>
			<string>{{3843, 203}, {100, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 200}}</string>
			<key>sourceSize</key>
			<string>{100, 200}</string>
		</dict>
		<key>FruitsAssets/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 2565}, {668, 610}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {668, 610}}</string>
			<key>sourceSize</key>
			<string>{668, 610}</string>
		</dict>
		<key>FruitsAssets/cannonball.png</key>
		<dict>
			<key>frame</key>
			<string>{{3945, 1017}, {97, 100}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {97, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>FruitsAssets/catapult.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3557}, {860, 320}}</string>
			<key>offset</key>
			<string>{0, -25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 50}, {860, 320}}</string>
			<key>sourceSize</key>
			<string>{860, 370}</string>
		</dict>
		<key>FruitsAssets/catapultarm.png</key>
		<dict>
			<key>frame</key>
			<string>{{3843, 305}, {168, 710}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {168, 710}}</string>
			<key>sourceSize</key>
			<string>{168, 710}</string>
		</dict>
		<key>FruitsAssets/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{4095, 377}, {-3840, -244}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3840, 244}, {-3840, -244}}</string>
			<key>sourceSize</key>
			<string>{3840, 244}</string>
		</dict>
		<key>FruitsAssets/kiwi.png</key>
		<dict>
			<key>frame</key>
			<string>{{3843, 1119}, {84, 86}}</string>
			<key>offset</key>
			<string>{1, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9, 11}, {84, 86}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>FruitsAssets/lemon.png</key>
		<dict>
			<key>frame</key>
			<string>{{4013, 727}, {74, 86}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 7}, {74, 86}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>FruitsAssets/levelbackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1283}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>FruitsAssets/menu_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 1283}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>FruitsAssets/orange.png</key>
		<dict>
			<key>frame</key>
			<string>{{4013, 465}, {76, 80}}</string>
			<key>offset</key>
			<string>{-1, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 13}, {76, 80}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>FruitsAssets/pineapple.png</key>
		<dict>
			<key>frame</key>
			<string>{{4013, 543}, {78, 92}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {78, 92}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>FruitsAssets/squareblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{3945, 1116}, {98, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 96}}</string>
			<key>sourceSize</key>
			<string>{98, 96}</string>
		</dict>
		<key>FruitsAssets/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{3843, 1017}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>FruitsAssets/star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3843, 1}, {200, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>FruitsAssets/strawberry.png</key>
		<dict>
			<key>frame</key>
			<string>{{4013, 815}, {68, 88}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 5}, {68, 88}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>FruitsAssets/watermelon.png</key>
		<dict>
			<key>frame</key>
			<string>{{4013, 637}, {76, 88}}</string>
			<key>offset</key>
			<string>{5, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 7}, {76, 88}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>FruitsAssets.png</string>
	</dict>
</dict>
</plist>
